:root {
  /** 
  HTML elements color 
  */
  --brand-color: #2196f3;
  --default-color: #212121;
  --light-txt-color: #757575;
  --grey-bkg: #2f303a;
  --light-grey-item: #f5f4fa;
  --light-line: #eee;
  --header-line: #ececec;
  --white-item: #fff;
  --black-item: #000;

  /** 
  Specific icons color
  */
  --icon-logo-color: #afb1b8;
  --footer-socialmedia-elipse: rgba(255 255 255 / 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--default-color);
}
ul {
  margin: 0;
}
.section {
  padding-block: 94px;
}
.container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.hidden-dot {
  list-style-type: none;
  padding: 0;
}
.hidden-title {
  display: none;
}

/* 
Logo & nav section
------------------
*/
.section-border {
  border-bottom: 1px solid;
  border-color: var(--header-line);
}
.nav-wrap-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav-menu {
  flex-grow: 1;
}
.nav-menu li {
  display: inline;
}
.nav-menu li:nth-child(-n + 2) {
  margin-right: 46px;
}
.nav-contact li {
  display: inline;
}
.nav-contact li:first-child {
  margin-right: 50px;
}
.link-contact {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  text-decoration: none;
  color: var(--light-txt-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact svg {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover,
.link-contact:focus {
  color: var(--brand-color);
}
.link-nav li {
  position: relative;
}
.link-nav a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav a:hover,
.link-nav a:focus {
  color: var(--brand-color);
}

/** 
Adds Agency & Portfolio links permanent underline
*/
.link-nav-agency {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-agency::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 1;
  height: 4px;
  left: -2px;
  bottom: -32.5px;
  border-radius: 10px;
  background: var(--brand-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-portfolio {
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-portfolio::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 1;
  height: 4px;
  left: -2px;
  bottom: -32.5px;
  border-radius: 10px;
  background: var(--brand-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first-color {
  color: var(--brand-color);
}
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.logo span {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover span,
.logo:focus span {
  color: var(--brand-color);
}
.logo-blk-color {
  color: var(--black-item);
}
.logo-wh-color {
  color: var(--white-item);
}

/* 
Main title section
------------------
*/
.main-title-wrap {
  padding: 106px 0;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--white-item);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}
.main-button {
  color: var(--white-item);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  padding: 10px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  color: var(--default-color);
  background-color: var(--light-grey-item);
}
.grey-rectangle {
  max-width: 1600px;
  margin: 0 auto;
  background: var(--grey-bkg);
  background-image: url("../images/cover.jpg"); /* fallback */
  background-image: linear-gradient(rgba(47 48 58 / 0.4), rgba(47 48 58 / 0.4)),
    url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 1600px; /* gradient cap */
}

/* 
Lorem ipsum & what we do section
--------------------------------
*/
.main-txt-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 94px;
}
.main-txt-wrapper li {
  min-width: 270px;
  flex-basis: calc((100% - 90px) / 4);
}
.main-txt h3 {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.main-txt p {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}
.main-foto-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.main-foto-wrapper li {
  flex-basis: calc((100% - 60px) / 3);
  position: relative;
}
.main-foto-wrapper img {
  display: block;
}
.main-foto-overlay {
  width: 370px;
  position: absolute;
  bottom: 0;
  background: rgba(47 48 58 / 0.8);
  padding: 13.5px 0;
}
.main-foto-overlay p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-item);
}

/* 
About us section
----------------
*/
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.about-us-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.about-us-wrapper li {
  flex-basis: calc((100% - 90px) / 4);
}
.about-us {
  background-color: var(--light-grey-item);
}
.about-us img {
  margin-bottom: 30px;
}
.about-us h3 {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-us p {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}
.about-us-box li {
  padding-bottom: 30px;
  background: var(--white-item);
  box-shadow: 0px 1px 3px rgba(0 0 0 / 0.12), 0px 1px 1px rgba(0 0 0 / 0.14),
    0px 2px 1px rgba(0 0 0 / 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* 
Footer section
--------------
*/
.footer-box {
  background: var(--grey-bkg);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-address {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address p {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-item);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer span {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-footer:hover span,
.logo-footer:focus span {
  color: var(--brand-color);
}
.link-footer a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255 255 255 / 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer a:hover,
.link-footer a:focus {
  color: var(--brand-color);
}
.link-footer li {
  margin-top: 9px;
}
.footer-socialmmedia {
  padding-top: 72px;
  padding-bottom: 100px;
}
.footer-socialmmedia p {
  margin: 0 0 20px;
  color: var(--white-item);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* 
================
Portfolio styles
================
*/
.portfolio-btn-wrap ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-button {
  background-color: var(--light-grey-item);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-item);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.25);
}
.portfolio-box-wrap {
  padding: 34px 0 0;
}
.portfolio-box-wrap ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.portfolio-box li {
  min-width: 370px;
  flex-basis: calc((100% - 60px) / 3);
  background: var(--white-item);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box li:hover {
  box-shadow: 0px 1px 1px rgba(0 0 0 / 0.12), 0px 4px 4px rgba(0 0 0 / 0.06),
    1px 4px 6px rgba(0 0 0 / 0.16);
  cursor: pointer;
}
.portfolio-box li:hover .portfolio-img-overlay {
  transform: translate(0, 0);
}
.portfolio-box img {
  display: block;
}
.portfolio-img-overlay-box {
  position: relative;
  overflow: hidden;
}
.portfolio-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: var(--brand-color);
  opacity: 0.9;
  padding: 49px 45px 49px 24px;
  transform: translate(0%, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-overlay p {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-item);
}
.portfolio-box-desc {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--light-line);
  width: 100%;
  padding: 20px 24px;
}
.portfolio-box-desc p:first-child {
  margin: 0 0 4px;
}
.portfolio-box-desc p:last-child {
  margin: 0;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}
.portfolio-footer-margin {
  margin-top: 94px;
}

/* 
============
Icons styles
============
*/

/* 
Header contact icons
-------------------- 
*/
.link-contact:hover svg,
.link-contact:focus svg {
  fill: var(--brand-color);
}

/* 
Lorem ipsum icons
----------------- 
*/
.main-txt-icon-box {
  background-color: var(--light-grey-item);
  border-radius: 4px;
  padding: 25px 0;
  margin-bottom: 30px;
}
.main-txt-icon-box svg {
  display: block;
  margin: 0 auto;
}

/* 
About us social media icons
---------------------------  
*/
.icon-aboutus-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.icon-aboutus-wrapper a {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-aboutus-wrapper a:hover,
.icon-aboutus-wrapper a:focus {
  background-color: var(--brand-color);
  fill: var(--white-item);
  cursor: pointer;
}

/* 
Our customers logos
------------------- 
*/
.our-customers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.our-customers-wrapper a {
  display: inline-block;
  border: 1px solid;
  border-color: var(--icon-logo-color);
  border-radius: 4px;
  cursor: pointer;
  width: 170px;
  height: 92px;
  fill: var(--icon-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-customers-wrapper a:hover,
.our-customers-wrapper a:focus {
  border-color: var(--brand-color);
  fill: var(--brand-color);
}

/* 
Footer social media icons
-------------------------
*/
.icon-footer-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.icon-footer-wrapper a {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-socialmedia-elipse);
  fill: var(--white-item);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-wrapper a:hover,
.icon-footer-wrapper a:focus {
  background-color: var(--brand-color);
  fill: var(--white-item);
  cursor: pointer;
}

/* 
============
Modal styles
============
*/
.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.2);
  transition: transform 250ms;
}
.is-hidden {
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-box {
  position: relative;
  margin: auto;
  width: 528px;
  height: 581px;
  background: var(--white-item);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.25);
}
.modal-button-box {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0 0 0 / 0.1);
}
.modal-button {
  all: unset;
  top: 30px;
  cursor: pointer;
}

/* 
===========
Form styles
===========
*/

/* 
Agency footer form
------------------
*/
.footer-form {
  padding-top: 72px;
  padding-bottom: 100px;
}
.footer-form span {
  display: block;
  margin-bottom: 20px;
  color: var(--white-item);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-form input {
  padding: 15px 0 15px 16px;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: var(--white-item);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-signin {
  position: relative;
  display: inline;
  margin-left: 12px;
}
.form-signin button {
  color: var(--white-item);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 76px 10px 46px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.form-signin svg {
  position: absolute;
  top: -2px;
  left: 148px;
  fill: var(--white-item);
}

/* 
Modal forms
-----------
*/

.modal-form {
  padding: 40px;
  width: 100%;
  height: 100%;
}
.modal-form p:first-child {
  display: block;
  margin: 0;
  color: var(--default-color);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

/* Input style section */
.order-label {
  display: block;
  position: relative;
}
.order-label span {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--light-txt-color);
  margin-bottom: 4px;
}
.order-label svg {
  position: absolute;
  top: 28px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-label input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--default-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 40px;
  margin-bottom: 10px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-label input:focus {
  border: 1px solid var(--brand-color);
}
.order-label:focus-within svg {
  fill: var(--brand-color);
}

/* Textarea section  */
.order-comment {
  padding: 0;
  resize: none;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--default-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order-comment:focus {
  border: 1px solid var(--brand-color);
}

/* Checkbox section  */
.order-checkbox-wraper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.order-checkbox-wraper input {
  vertical-align: middle;
  width: 16px;
  height: 15px;
  opacity: 0;
}

/* Change the form border to brand color when focused */
.order-box:focus-within {
  border: 1px solid var(--brand-color);
}
.order-box:focus-within svg {
  fill: var(--brand-color);
}

/* Style for custom checkbox  */
.order-checkbox-custom {
  position: absolute;
  top: 2px;
  left: 16px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--default-color);
  background-color: var(--white-item);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: border-color;
}

/* Sets the position for the checkmark svg */
.order-checkmark {
  position: absolute;
  top: -1px;
  left: 0px;
  fill: var(--white-item);
}

/* Add brand-color background to the checkbox when checked  */
.order-checkbox:checked + .order-checkbox-custom {
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
}

/* Add brand-color border to the checkbox when focused  */
.order-checkbox:focus + .order-checkbox-custom {
  border-color: var(--brand-color);
  outline: 2px solid rgba(33 150 243 / 0.25);
  outline-offset: 1px;
}

/* Style for the statement section  */
.order-checkbox-wraper a {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.order-checkbox-wraper span {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--light-txt-color);
}

.order-send-btn button {
  display: block;
  margin: 0 auto;
  color: var(--white-item);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0 0 0 / 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 76px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
