.c-footer {
  &--color {
    background: $dark-background;
  }
}

.l-adress-stack {
  padding-top: 60px;
  padding-bottom: 60px;
}

.c-address {
  &__text {
    margin: 0;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-item;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255 255 255 / 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
  &__item {
    margin-top: 9px;
  }
}
