.c-section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
// Offer & card hidden title
.c-section__title--hidden {
  display: none;
  opacity: 0;
}
// USE case section
.c-section__title--margin {
  margin-top: 94px;
}
